---
layout: default
title: my blog
---

<div class="blog-list">
    {% for post in site.posts %}
    <article class="blog-post-preview">
        <h2>
            <a href="{{ post.url | relative_url }}" class="blog-post-title">{{ post.title }}</a>
        </h2>
        <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%x" }}
            </time>
        </div>
        <div class="post-excerpt">
            {{ post.excerpt }}
        </div>
    </article>
    {% endfor %}
</div>

{% if site.posts.size == 0 %}
<p class="no-posts">no blog posts yet. check back later.</p>
{% endif %}